
.aboutSec {
    background: url("/images/about-us-page-images/About-us-Banner-Image.png");
    background-repeat: no-repeat;
    height: 345px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.bannerChild {
    text-align: center;
}

.bannerChild p {
    width: 60%;
    margin: auto;
    color: rgba(255, 255, 255, 0.65);
}
