.bannerSection {
  height: 80vh;
  position: relative;
}

/* Swiper */
.bannerSwiper {
  height: 100%;
}

.bannerSlide {
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bannerSlide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Content */
.bannerContent {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 180px 0;
}

/* Title */
.titleAnimate {
  color: var(--text-primary-color);
}

/* Subtitle */
.subTitle {
  margin-bottom: 32px;
  opacity: 0.9;
  color: var(--text-primary-color);
}

/* Button */
.bannerBtn {
  margin-bottom: 100px;
}

/* Quote */
.quoteWrapper {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  opacity: 0.85;
  transition: opacity 1s ease-in-out;
}

.quoteWrapper p {
  font-size: 24px;
  margin-bottom: 12px;
  color: var(--text-primary-color);
  font-family: "Times New Roman", Times, serif;
}

.quoteWrapper span {
  font-size: 16px;
  color: var(--text-primary-color);
}





/* ================= BANNER RESPONSIVE ================= */

@media (max-width: 992px) {
  .bannerBtn {
    margin-bottom: 100px;
  }

  /* h1,
  .heading1 {
    font-size: 60px;
  } */
}

@media (max-width: 768px) {
  .bannerBtn {
    margin-bottom: 70px;
  }

  /* h1,
  .heading1 {
    font-size: 40px;
  } */

  /* h3,
  .heading3 {
    font-size: 24px;
  } */
}



