/* BLOG SECTION */
.blogSec {
  padding: 80px 0;
}

.blogHeader {
  text-align: center;
}

.blogSubtitle {
  color: var(--primary-color);
  font-size: 28px;
}

.title2 {
  margin: 10px;
}

.blogFilter {
  margin: 30px 0 50px;
}

.blogFilter ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  
}

.blogFilter li {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  font-size: 16px;
  cursor: pointer;
  background: #E8E8E8;
  transition: all 0.8s ease;
}

.blogFilter li:hover {
  background: #cfcfcf;
}




