.ourStorySec {
  background-color: var(--text-primary-color);
}

.ourStoryChild {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.storyLeft,
.storyRight {
  width: 50%;
  padding: 0 15px;
}

/* LEFT CONTENT */
.storyLeft p {
  margin-bottom: 25px;
  color: rgba(8, 34, 25, 0.6);
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.profileImg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profileParent span {
  font-size: 16px;
  color: #0822197a;
}

/* RIGHT IMAGE */
.storyRight {
  position: relative;
}

.storyRight img {
  display: block;
}

.storyImg {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* SHINE HOVER EFFECT */
.storyImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-40deg);
  transition: left 0.6s ease-in-out;
}

.storyImg:hover::after {
  left: 120%;
}

/* OVERLAY IMAGE */
.overlayImg {
  position: absolute;
  right: -67px;
  bottom: -43px;
}

.overlayImg img {
  width: 221px;
  height: 221px;
}

/* ================= STORY RESPONSIVE ================= */

@media (max-width: 1400px) {
  .overlayImg {
    right: 12px;
    bottom: 67px;
  }
}

@media (max-width: 1200px) {
  .overlayImg {
    right: 12px;
    bottom: 221px;
  }

  .profileImg {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 992px) {
  .storyLeft,
  .storyRight {
    width: 100%;
  }

  .storyLeft {
    margin-bottom: 20px;
  }

  .overlayImg {
    right: 12px;
    bottom: -78px;
  }
}
